In [ ]:
import seaborn as sns

In [ ]:
tips = sns.load_dataset('tips')
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [3]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
tips.shape

(244, 7)

In [5]:
tips_have = tips.iloc[ 0:220, :]  # 현재 가진 고객 데이터
tips_new  = tips.iloc [220: , :]  # 미래의 고객 데이터 

tips_new.drop(["size"], axis=1, inplace=True)

tips_have.shape, tips_new.shape

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

((220, 7), (24, 6))

In [6]:
tips_have.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
sel = ['total_bill', 'tip']

In [8]:
X = tips_have[sel]
y = tips_have['size']  # 우리가 예측할 컬럼(변수)

test_X = tips_new[sel]       # 예측할 친구는 다른 데이터 셋

# RandomForest

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [11]:
model = RandomForestClassifier() 
model.fit(X, y)
model.score(X, y)

0.9954545454545455

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X = tips_have[sel]
y = tips_have['size']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [14]:
model = RandomForestClassifier()
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

1.0
0.5818181818181818

과적합~~~

In [17]:
model = RandomForestClassifier(max_depth=2)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.7454545454545455
0.5636363636363636

In [19]:
model = RandomForestClassifier(max_depth=2, n_estimators = 500)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.7393939393939394
0.5636363636363636

In [21]:
model = RandomForestClassifier(max_depth=1)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.7151515151515152
0.6

# KNN / DecisionTree / SVM

In [22]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [23]:
# 앙상블
model = RandomForestClassifier(max_depth=6, random_state=0)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.8787878787878788
0.5818181818181818

In [25]:
# KNN
model = KNeighborsClassifier(n_neighbors=4)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.7696969696969697
0.5454545454545454

In [36]:
# Decision Tree
model = DecisionTreeClassifier(max_depth=4)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.8
0.6

In [48]:
# SVM
model = SVC()
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.7090909090909091
0.6

# KNN / DecisionTree / SVM (특성 추가)

In [49]:
import pandas as pd

In [50]:
sel = ['total_bill', 'tip','sex','smoker']
X = tips_have[sel]
y = tips_have['size']  # 우리가 예측할 컬럼(변수)

X_dum = pd.get_dummies(tips_have[sel])

test_X = tips_new[sel]       # 예측할 친구는 다른 데이터 셋

In [ ]:
# dict_sex = {"Male":0, "Female":1}
# tips['sex_en'] = tips['sex'].map(dict_sex).astype("int32")

# dict_smoker = {"No":0, "Yes":1}
# tips['smoker_en'] = tips['smoker'].map(dict_smoker).astype("int32")

In [53]:
X_dum.head()

   total_bill   tip  sex_Male  sex_Female  smoker_Yes  smoker_No
0       16.99  1.01         0           1           0          1
1       10.34  1.66         1           0           0          1
2       21.01  3.50         1           0           0          1
3       23.68  3.31         1           0           0          1
4       24.59  3.61         0           1           0          1

In [52]:
X_dum_test = pd.get_dummies(test_X)

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X_dum, y, random_state=0)

In [65]:
# 앙상블
model = RandomForestClassifier(max_depth=6, random_state=0)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

pred = model.predict(X_dum_test)
# 예측 후, 정확도 구하기
print('예측')
print((pred == tips_new['tip']).sum()/(len(pred)))

0.8909090909090909
0.5818181818181818
예측
0.16666666666666666

In [64]:
# KNN
model = KNeighborsClassifier(n_neighbors=4)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

pred = model.predict(X_dum_test)
# 예측 후, 정확도 구하기
print('예측')
print((pred == tips_new['tip']).sum()/(len(pred)))

0.7393939393939394
0.5272727272727272
예측
0.20833333333333334

In [63]:
# Decision Tree
model = DecisionTreeClassifier(max_depth=4)
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

pred = model.predict(X_dum_test)
# 예측 후, 정확도 구하기
print('예측')
print((pred == tips_new['tip']).sum()/(len(pred)))

0.8
0.6
예측
0.125

In [66]:
# SVM
model = SVC()
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

pred = model.predict(X_dum_test)
# 예측 후, 정확도 구하기
print('예측')
print((pred == tips_new['tip']).sum()/(len(pred)))

0.7090909090909091
0.5818181818181818
예측
0.16666666666666666